<link rel="stylesheet" href="/css/tracking-service.css">
@{
    ViewData["Title"] = "Трекінг";
}
@model ProjectDelivery.Models.TrackingModel
<div class="container">
    <h1 class="offset-md-2">Трекінг посилки</h1>    
    <div class="row">
        <div class="blocks">
            <div class="box">
                <form method="post">
                    <h2>Відстеження посилки</h2>
                    <p class="text-box">Введіть номер посилки, щоб дізнатись статус:</p>
                    <div id="tracking-form">
                        @{
                            if (@Model.Id == 0)
                            {
                                <input type="text" class="form-control" placeholder="Введіть номер посилки" value="" asp-for="Id">
                            }
                            else
                            {
                                <input type="text" class="form-control" placeholder="Введіть номер посилки" value=@Model.Id asp-for="Id">
                            }
                        }
                        <button type="submit" class="btn btn-primary mt-2">Відстежити</button>
                    </div>
                </form>
            </div>
            <div class="box">
                <div id="instructions">
                    <h2>Як скористатися?</h2>
                    <p class="text-box">На цій сторінці можна відстежувати відправлення по Україні. Для цього введіть у поле трек-номер, та натисніть кнопку «Відстежити».</p>
                </div>
            </div>
        </div>
    </div>
    <div class="information">
        @{
            if (!String.IsNullOrEmpty(@Model.Text))
            {
                <div class="alert alert-danger" id="alert" role="alert">
                    @Model.Text
                </div>
            }
            if (Model.IsFind)
            {
                <div id="package">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Отримувач</th>
                                <th>Опис посилки</th>
                                <th>Адреса доставки</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>@Model.Name</th>
                                <th>@Model.Description</th>
                                <th>@Model.City</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>