@using Microsoft.AspNetCore.Identity
@inject SignInManager<AccModel> SignInManager
@inject UserManager<AccModel> UserManager
<link rel="stylesheet" href="/css/historypackages-account.css">
@{
    ViewData["Title"] = "Історія посилок";
}
@model List<ProjectDelivery.Models.Package>

<div class="container">
    <div class="box">
        <h2>Меню</h2>
        <div class="nav-links">
            <div class="mb-2">
                <a class="btn btn-primary" asp-controller="Account" asp-action="ViewProfile">Профіль</a>
            </div>
            <div class="mb-2 navig">
                <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Змінити пароль</a>
            </div>
            <div class="mb-2 navig">
                <a class="btn btn-primary" asp-controller="Account" asp-action="HistoryPackages">Посилки</a>
            </div>
            @{
                var user = await UserManager.GetUserAsync(User);
                if (user.Roles == ProjectDelivery.Enums.EnumRoles.Admin)
                {
                    <div class="mb-2 navig">
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="AdminPanel">Адмін панель</a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col">
        <div class="box">
            <div id="package">
                <h2>Відправлені посилки</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Отримувач</th>
                            <th>Опис посилки</th>
                            <th>Адреса доставки</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (var package in Model)
                            {
                                if (UserManager.GetUserId(User) == package.SenderId)
                                {
                                    i++;
                                    <tr>
                                        <th>@package.recipientName</th>
                                        <th>@package.Description</th>
                                        <th>@package.City</th>
                                    </tr>
                                }
                            }
                            if (i == 0)
                            {
                            <tr><th></th><th>Не знайдено</th></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <div id="package">
                <h2>Отримані посилки</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Відправник</th>
                            <th>Опис посилки</th>
                            <th>Адреса доставки</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            i = 0;
                            foreach (var package in Model)
                            {
                                if (UserManager.GetUserId(User) == package.RecipientId)
                                {
                                    i++;
                                    <tr>
                                        <th>@package.senderName</th>
                                        <th>@package.Description</th>
                                        <th>@package.City</th>
                                    </tr>
                                }
                            }
                            if (i == 0)
                            {
                            <tr><th></th><th>Не знайдено</th></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>